<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted Chatroom</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>

<div class="navbar">
    <div class="nav-left">
        <a href="{{ url_for('tos') }}">ToS</a>
        <a href="{{ url_for('faq') }}">FAQ</a>
    </div>
    <h1 class="logo"><a href="{{ url_for('home') }}">Encrypted Chatroom</h1></a> 
    <div class="nav-right">
        {% if session.get('username') %}
        <a href="{{ url_for('modify_account') }}">Modify Account</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
        {% endif %}
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="bg-img">
    <div class="container">
        <div class="side-container left">
            <h2>Recent Active Rooms</h2>
            <ul>
                <li>General Chat <span>24 users online</span></li>
                <li>Tech Talk <span>15 users online</span></li>
                <li>Private Discussion <span>5 users online</span></li>
            </ul>
        </div>
        <div class="main-container">
            <div class="form-container">
                <h3>Enter The Encrypted Chatroom</h3>
                <form method="post" class="buttons">
                    <div class="join">
                        <input type="text" id="code" placeholder="Room Code" name="code" value="{{ code }}">
                        <button type="submit" name="join">Join a Room</button>
                    </div>
                    <button type="submit" name="create" class="create-btn">Create a Room</button>
                    {% if error %}
                        <div class="error">
                            <ul>
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    {% endif %}
                </form>
                <div class="center-message">
                    {% if session.get('username') %}
                        <p>Welcome, {{ session['username'] }}!</p>
                    {% else %}
                        <p>Please log in. Otherwise, you can text as an anonymous user.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="side-container right">
            <h2>Users Online</h2>
            <p>196 (150)</p>
            <p>Active in multiple rooms</p>
        </div>
    </div>
</div>
<footer>
    <p>&copy; <span id="year"></span> SecureChat. All rights reserved.</p>
</footer>
<script>
    document.getElementById('year').textContent = new Date().getFullYear();
</script>
</body>
</html>
