{% extends 'base.html' %}
{% block content %}
<div class="content bg-black text-purple-800 min-h-screen flex justify-center items-center">
  <div class="room-background bg-black border-2 border-purple-500 shadow-md p-4 rounded-lg">
    <div class="message-box">
    <h2>Room Code: {{ code }}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
      <input
        type="text"
        rows="3"
        placeholder="Message"
        name="message"
        id="message"
        onkeypress="handleKeyPress(event)"
      />
      <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
      <button type="button" name="disconnect" id="disconnect-btn">Leave Room</button>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();
  const messages = document.getElementById("messages");

  const createMessage = (name, msg, isSent) => {
    const content = `
      <div class="message ${isSent ? 'sent' : 'received'}">
        <span class="message-content"><strong>${name}</strong>: ${msg}</span>
        <span class="timestamp">${new Date().toLocaleString()}</span>
      </div>
    `;
    messages.insertAdjacentHTML('beforeend', content);
    messages.scrollTop = messages.scrollHeight;  
  };

  socketio.on("message", (data) => {
    if (data.name !== "{{ session['name'] }}") {
      createMessage(data.name, data.message, false);
    }
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value.trim() === "") return;
   
    createMessage("You", message.value, true);
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  const handleKeyPress = (event) => {
    if (event.keyCode === 13) {
      sendMessage();
    }
  };

  const disconnect = () => {
    socketio.emit("disconnect_request");
    window.location.href = "/";  
  };

  document.getElementById("disconnect-btn").addEventListener("click", disconnect);

  fetch('/initial_messages')
    .then(response => response.json())
    .then(data => {
      data.forEach(msg => {
        createMessage(msg.name, msg.message, msg.is_sent);
      });
    })
    .catch(error => {
      console.error('Error fetching initial messages:', error);
    });
</script>
{% endblock %}
